
    .frame_2147227379 {background: url(resources/images/imagelists/login/frame_2147227379.png) transparent    no-repeat;background-size: cover;}
  
					.section_subtitle { align-self:stretch;font-style:normal;text-transform:capitalize; }
				
					.section_subtitle_1 { align-self:stretch;font-style:normal;text-transform:capitalize; }
				
					.section_description { font-style:normal;width:503px; }
				
    .right_section {border-radius: var(--Corner-None, 0);}
  
					.login_title { align-self:stretch;font-style:normal; }
				
					.description_1 { font-style:normal; }
				
