
    .container668828139 {border-bottom:1px solid var(--Schemes-Outline, #E5E5EC);}
  
					.welcome_message { font-style:normal; }
				
    .user_actions {flex:1 0 0;}
  
    .notification_icons {border-right:1px solid var(--Schemes-Outline, #E5E5EC);}
  
